.glide {
  position: relative;
  width: 100%;
  box-sizing: border-box; }
  .glide * {
    box-sizing: inherit; }
  .glide__track {
    overflow: hidden; }
  .glide__slides {
    position: relative;
    width: 100%;
    list-style: none;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    touch-action: pan-Y;
    overflow: hidden;
    padding: 0;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
    will-change: transform; }
    .glide__slides--dragging {
      user-select: none; }
  .glide__slide {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    white-space: normal;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent; }
    .glide__slide a {
      user-select: none;
      -webkit-user-drag: none;
      -moz-user-select: none;
      -ms-user-select: none; }
  .glide__arrows {
    -webkit-touch-callout: none;
    user-select: none; }
  .glide__bullets {
    -webkit-touch-callout: none;
    user-select: none; }
  .glide--rtl {
    direction: rtl; }

.glide__slide {
  background: url(../images/catalog_bg.png) no-repeat;
  text-align: center;
  position: relative;
  background-size: cover;
  height: 250px;
}
  .glide__slide p {
    text-align: center;
    padding-right: 15%;
    margin-bottom: 2rem; }
  .main-slide img {
    max-height: 330px !important; 
    height: 100%;
    width: 100%;
  }
  .glide__slide .pdf_link {
    padding: .3rem 1rem;
    width: 60%;
    display: inline-block;
    color: #00abc4;
    border: 2px solid #00abc4; }
    .glide__slide .pdf_link:hover {
      text-decoration: none; }
    .glide__slide .pdf_link img {
      margin-top: -5px;
      margin-left: 5px;
      height: 100%; }
      .glide-catalog img{
        width: auto;
        /* max-width: 155px; */
        max-height: 245px;
      }

.slider-for {
  margin-left: -18%;
  border-radius: 14px;
  box-shadow: -3px 3px 8px 2px;
  max-height: 600px; }
  .slider-for img {
    border-radius: 14px;
    max-height: 500px; }

.slick-dotted.slick-slider {
  transform: rotate(90deg); }
  .slick-dotted.slick-slider .slick-slide {
    height: auto !important; }
  .slick-dotted.slick-slider img {
    transform: rotate(-90deg);
    width: 100%;
    height: 100%; }
  .slick-dotted.slick-slider .slick-prev {
    content: "";
    background: url(../images/arrow_button.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    transform: rotate(90deg);
    width: 40px; }
  .slick-dotted.slick-slider .slick-next {
    content: "";
    background: url(../images/arrow_button.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    transform: rotate(-90deg);
    width: 40px; }

.slick-slide img {
  width: 100%; }

.slider-nav {
  margin-left: -76%;
  margin-top: 83%;
  margin-bottom: 30px;
  width: 500px;
  height: 42%;
  padding-top: 29%; }
  .slider-nav .slick-list {
    height: 100%;
    padding: 0 !important; }
    .slider-nav .slick-list .slick-track {
      height: 100%; }
      .slider-nav .slick-list .slick-track .slick-slide img {
        width: 100% !important; }

@media (max-width: 560px) {
  .slider-for {
    margin-left: 0%;
    border-radius: 0px;
    box-shadow: none;
    max-height: 600px; }
    .slider-for img {
      border-radius: 14px;
      max-height: 500px; }
    .slider-for .slick-prev:before {
      display: none; }
    .slider-for .slick-next:before {
      display: none !important; }
  .slick-dotted.slick-slider {
    transform: rotate(0deg); }
    .slick-dotted.slick-slider .slick-slide {
      height: auto !important; }
    .slick-dotted.slick-slider img {
      transform: rotate(0deg);
      width: 100%;
      height: 100%; }
    .slick-dotted.slick-slider .slick-prev {
      content: "";
      background: url(../images/arrow_button.png);
      background-repeat: no-repeat;
      background-size: contain;
      display: inline-block;
      transform: rotate(0deg);
      width: 40px; }
    .slick-dotted.slick-slider .slick-next {
      content: "";
      background: url(../images/arrow_button.png);
      background-repeat: no-repeat;
      background-size: contain;
      display: inline-block;
      transform: rotate(0deg);
      width: 40px; }
  .slick-slide img {
    width: 100%; }
  .slider-nav {
    margin-left: 0;
    margin-top: 0%;
    margin-bottom: 30px;
    width: 100%;
    margin-top: 1rem;
    height: 100%;
    padding-top: 0%; }
    .slider-nav .slick-list {
      height: 100%;
      padding: 0 !important; }
      .slider-nav .slick-list .slick-track {
        height: 100%; }
        .slider-nav .slick-list .slick-track .slick-slide img {
          width: 100% !important; }
    .slider-nav .slick-prev:before {
      display: none; }
    .slider-nav .slick-next:before {
      display: none; }
  .slick-arrow {
    display: none !important; } }

.cascade-slider_container {
  position: relative;
  width: 1000px;
  height: 500px;
  margin: 0 auto; }

.cascade-slider_item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%) scale(0.3);
  transition: all 1s ease;
  opacity: 0;
  z-index: -1; }

.cascade-slider_item.next {
  left: 50%;
  transform: translateY(-50%) translateX(-150%) scale(0.6);
  opacity: 1;
  z-index: 1; }

.cascade-slider_item.prev {
  left: 50%;
  transform: translateY(-50%) translateX(50%) scale(0.6);
  opacity: 1;
  z-index: 1; }

.cascade-slider_item.now {
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%) scale(1);
  opacity: 1;
  z-index: 5; }

.cascade-slider_arrow {
  display: inline-block;
  position: absolute;
  cursor: pointer;
  z-index: 35;
  height: 100%;
  width: 50%; }

.cascade-slider_arrow-left {
  left: 0; }

.cascade-slider_arrow-right {
  right: 0; }

.cascade-slider_nav {
  position: absolute;
  bottom: -120px;
  width: 100%;
  text-align: center;
  z-index: 5; }

.cascade-slider_dot {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin: 1em;
  background: #ddd;
  list-style: none;
  cursor: pointer; }

.cascade-slider_dot:hover {
  background: #555; }

.cascade-slider_dot.cur {
  background: #555; }

.cascade-slider_item {
  z-index: 10;
  transition: all .8s;
  transform: translateY(-50%) translateX(15%) scale(0.3);
  text-align: center; }
  .cascade-slider_item img {
    max-width: 65% !important; }

.cascade-slider_item.next {
  opacity: .5 !important; }

.cascade-slider_item.now {
  transform: translateY(-50%) translateX(-106%) scale(0.8) !important;
  opacity: .8 !important; }

.cascade-slider_item.prev {
  transform: translateY(-50%) translateX(-50%) scale(1);
  z-index: 6 !important; }
  .cascade-slider_item.prev img {
    background: url(../images/certificates_bg.png);
    background-size: contain;
    background-repeat: no-repeat; }

body {
  background: transparent;
  height: 100%; }

html {
  background: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  height: 100%; }

.about {
  min-height: 150px;
  background: url(../images/about-img.png);
  background-repeat: no-repeat;
  background-size: 55%;
  background-position-x: 13%; }

.socials .row {
  justify-content: flex-end; }
  .socials .row a {
    display: inline-block;
    align-items: right;
    margin: 0 3px; }
    .socials .row a:nth-child(1) svg {
      width: 2rem;
      height: 2rem; }
    .socials .row a:nth-child(2) svg {
      width: 1.5rem;
      height: 1.6rem;
      margin: 3px 0; }
    .socials .row a:nth-child(3) svg {
      width: 2rem;
      height: 2rem; }
    .socials .row a svg {
      fill: #7dc7f5; }

.header {
  padding: 1rem 0;
  background: transparent; }
  .header .header__logo img {
    width: 100%; }
  .header .search_field {
    width: 100%;
    border: none;
    background: url(../images/background_global.png);
    background-image: linear-gradient(90deg, rgba(125, 199, 245, 0.5) 0%, rgba(255, 255, 255, 0) 37%);
    height: 100%;
    padding: 1rem;
    color: #00abc4; }
    .header .search_field:focus {
      outline: none; }
  .header h2 {
    color: #00abc4;
    text-align: right; }

@media (max-width: 561px) {
  .header .header__logo img {
    width: 50%; } }

.hc-nav-trigger {
  right: 3%;
  top: 30px; }
  .hc-nav-trigger span {
    background: #00abc4 !important;
    border-radius: 7px;
    width: 38px !important;
    height: 8px !important; }
    .hc-nav-trigger span:before {
      background: #00abc4 !important;
      border-radius: 7px;
      width: 38px !important;
      height: 8px !important;
      top: -13px !important; }
    .hc-nav-trigger span:after {
      background: #00abc4 !important;
      border-radius: 7px;
      width: 38px !important;
      height: 8px !important;
      bottom: -13px !important; }

.nav-content {
  background: #00abc4; }
  .nav-content .nav-item {
    border-bottom: none !important; }
  .nav-content .nav-close a {
    background: #00abc4 !important;
    border-top: none !important;
    border-bottom: none !important; }
  .nav-content li {
    background: #00abc4 !important;
    border-top: none !important;
    border-bottom: 1px solid #fff; }

.main .glide1 {
  margin-top: 21%;
 }

.main .glide2 {
  /* margin-right: 18%; */
  margin-top: 13%; }
  /* .main .glide2:before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 85%;
    height: 63%;
    top: 20%;
    right: 15%;
    border-bottom: 1px solid #03abc4; } */

.main .glide3 {
  margin-top: 5%;
  width: 100%; }
  /* .main .glide3:before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 80%;
    height: 48%;
    top: 1%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.6) 5%, #03abc4 100%); } */

.main .glide__arrow--left {
  transform: rotate(180deg);
  background: no-repeat;
  padding-bottom: 5px; }

.main .glide__arrow--right {
  background: no-repeat; }

.main .glide__arrows {
  text-align: center; }
  .main .glide__arrows .glide__arrow {
    outline: none;
    border: none; }

.main .absolute__banner {
  font-size: 2em;
  color: #ffffff;
  top: 200px;
  z-index: 2;
  background: red;
  width: fit-content;
  padding: .5rem 2rem;
  margin: 0 auto;
  background-color: #03abc4;
  /* background: linear-gradient(90deg, rgba(255, 255, 255, 0.6) 5%, #03abc4 100%); */
 }
  .main .absolute__banner p {
    font-size: 1.2em;
    margin-bottom: 0; }

@media (max-width: 560px) {
  .main {
    overflow-x: hidden; }
  .absolute__banner {
    display: none; }
  .glide1 {
    width: 100% !important;}
  .glide2 {
    margin: auto !important; }
  .glide3 {
    margin: auto !important; }
  .glide__slide p {
    margin-top: 1rem; }
  .glide__slide .pdf_link {
    margin-left: -6%; } }

.about .about_text {
  padding: 8% 0; }
  .about .about_text p {
    text-align: right; }

@media (max-width: 560px) {
  .about .about_text {
    padding: 8% 0;
    padding-top: 55%;
    text-align: left; }
    .about .about_text p {
      text-align: left;
      padding-left: .5rem; } }

.contacts {
  position: relative;
  min-height: 80vh; }
  .contacts .absolute-contact {
    z-index: 2;
    color: #ffffff;
    top: -2%;
    right: -36%;
    height: fit-content;
    position: absolute;
    border-radius: 16px;
    padding: 2rem 3rem;
    background: url(../images/contacts_bg.png) 100% 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    max-height: 513px;
    margin-right: -2%;
    transition: all .6s;
    width: 800px;
    padding-left: 0; }
    .contacts .absolute-contact:before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 25px;
      height: 25px;
      background: #ffffff;
      left: 1%;
      clip-path: polygon(0 55%, 58% 0, 12% 55%, 58% 100%);
      top: 48%;
      cursor: pointer;
      transition: all 1s; }
    .contacts .absolute-contact .absolute-contact-mobile .contact_form button {
      display: inline-block;
      padding: .5rem;
      margin-top: .5rem;
      cursor: pointer;
      transition: all .4s;
      background: url(../images/a_arrow.png);
      background-repeat: no-repeat;
      background-position-x: 120%;
      background-position-y: 50%;
      background-size: contain;
      width: 40%; }
    .contacts .absolute-contact .contact-info {
      margin-right: 3rem;
      height: 100%;
      max-height: 430px; }
      .contacts .absolute-contact .contact-info p {
        margin: 0;
        font-size: 14px;
        padding-left: 18%; }
        .contacts .absolute-contact .contact-info p:nth-child(3) {
          margin-top: 12%; }
        .contacts .absolute-contact .contact-info p:nth-child(5) {
          margin-top: 12%; }
        .contacts .absolute-contact .contact-info p:nth-child(7) {
          margin-top: 12%; }
        .contacts .absolute-contact .contact-info p:nth-child(9) {
          margin-top: 12%; }
        .contacts .absolute-contact .contact-info p:nth-child(11) {
          margin-top: 12%; }
    .contacts .absolute-contact .contact_form {
      padding: 20% 0;
      max-height: 430px;
      z-index: 3; }
      .contacts .absolute-contact .contact_form input {
        color: #ffffff;
        background: transparent;
        width: 100%;
        border: 2px solid #ffffff;
        padding: .5rem .5rem; }
        .contacts .absolute-contact .contact_form input::placeholder {
          color: #ffffff !important; }
      .contacts .absolute-contact .contact_form textarea {
        width: 100%;
        background: transparent;
        height: 40%;
        margin-top: 3%;
        border: 2px solid #ffffff;
        padding: .5rem;
      }
        .contacts .absolute-contact .contact_form textarea::placeholder {
          color: #ffffff !important; }
  .contacts .unfold {
    right: 0% !important; }
    .contacts .unfold:before {
      transform: rotateY(180deg);
      left: 0%; }
      .form-btn{
        width: fit-content;
        margin-top: 2rem;
        position: relative;
      }
.form-btn button{
  font-size: 18px;
  background-color: transparent;
  padding:.3rem 1rem .3rem .3rem;
  color: #fff;
  border: none;
  background:url(../images/border-btn.png);
  background-size: contain;
  transition: all .2s ease;
}
.form-btn button:hover{
  transform: scale(.9);
}
.form-btn img{
  position: absolute;
  left: 90%;
  padding: 7px 2px;
  transform: translateY(5px);
}
.contacts-mobile {
  display: none;
  overflow: hidden; }
  .contacts-mobile .absolute-contact-mobile {
    z-index: 2;
    color: #ffffff;
    position: relative;
    border-radius: 16px;
    padding: 3% 3%;
    background: url(../images/contacts_bg.png) 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .6s;
    background-position-x: -1rem; }
    .contacts-mobile .absolute-contact-mobile .contact-info {
      margin-right: 3rem;
      height: 100%;
      max-height: 430px; }
      .contacts-mobile .absolute-contact-mobile .contact-info p {
        margin: 0;
        font-size: 14px; }
        .contacts-mobile .absolute-contact-mobile .contact-info p:nth-child(3) {
          margin-top: 12%; }
        .contacts-mobile .absolute-contact-mobile .contact-info p:nth-child(5) {
          margin-top: 12%; }
        .contacts-mobile .absolute-contact-mobile .contact-info p:nth-child(7) {
          margin-top: 12%; }
        .contacts-mobile .absolute-contact-mobile .contact-info p:nth-child(9) {
          margin-top: 12%; }
        .contacts-mobile .absolute-contact-mobile .contact-info p:nth-child(11) {
          margin-top: 12%; }
    .contacts-mobile .absolute-contact-mobile .contact_form {
      padding: 20% 0;
      max-height: 430px;
      z-index: 3;
      color: #ffffff; }
      .contacts-mobile .absolute-contact-mobile .contact_form input {
        color: #ffffff !important;
        background: transparent;
        width: 100%;
        border: 1px solid #ffffff;
        padding: .5rem .5rem;
        margin-bottom: 1rem; }
        .contacts-mobile .absolute-contact-mobile .contact_form input:focus {
          outline: none !important; }
        .contacts-mobile .absolute-contact-mobile .contact_form input::placeholder {
          color: #ffffff; }
      .contacts-mobile .absolute-contact-mobile .contact_form textarea {
        width: 100%;
        background: transparent;
        height: 50%;
        padding: .5rem .5rem;
        margin-top: 3%;
        border: 1px solid #ffffff; }
        .contacts-mobile .absolute-contact-mobile .contact_form textarea:focus {
          outline: none !important; }
        .contacts-mobile .absolute-contact-mobile .contact_form textarea::placeholder {
          color: #ffffff; }
      .contacts-mobile .absolute-contact-mobile .contact_form button {
        display: inline-block;
        padding: .5rem;
        margin-top: .5rem;
        cursor: pointer;
        transition: all .4s;
        background: url(../images/a_arrow.png);
        background-repeat: no-repeat;
        background-position-x: 120%;
        background-position-y: 50%;
        background-size: contain;
        width: 40%; }
        .contacts-mobile .absolute-contact-mobile .contact_form button:active {
          transform: scale(1.2); }

@media (max-width: 580px) {
  .contacts-mobile {
    display: block; }
  .contacts-desktop {
    display: none !important; } }

.catalog {
  margin: 0rem 1rem; }

.product {
  padding: 1rem; }
  .product .product-img {
    background: url(../images/catalog_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 2rem;
    padding-top: 1rem;
    text-align: center;
    height: auto;
    position: relative; }
    .product .product-img img {
      width: 50%;
      margin-bottom: -1rem;
      max-height: 300px; }
  .product .product-status {
    display: flex;
    justify-content: space-between; }
  /* .product .nav-item {
    width: 33.33%; } */
  .product .nav-tabs .active {
    padding: 8px;
    border: 1px solid #00abc4;
    border-radius: 0% !important;
    border-bottom: none !important;
    margin-bottom: -2px; }
  .product .nav-tabs .nav-link {
    color: #00abc4; }
  .product .tab-content {
    padding: 8px;
    border: 1px solid #00abc4; }
    .product .tab-content img {
      width: 100%; }
    .product .tab-content .tab-pane .row p {
      color: #000; }
  .product .text-info {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 410px;
    color: #000; }
    .product .text-info::-webkit-scrollbar {
      width: 1em; }
    .product .text-info::-webkit-scrollbar-track {
      -webkit-box-shadow: #00abc4; }
    .product .text-info::-webkit-scrollbar-thumb {
      background-color: #00abc4;
      outline: 1px solid transparent; }
    .product .text-info::-webkit-scrollbar-button {
      background: url(../images/arrow-scrollbar.png);
      background-repeat: no-repeat;
      background-position: center; }
    .product .text-info::-webkit-scrollbar-button:vertical:increment {
      background: url(../images/arrow-scrollbar--increment.png);
      background-repeat: no-repeat;
      background-position: center; }
  .product .product-status:nth-child(2n) {
    background: linear-gradient(to right, rgba(0, 171, 196, 0.6) 0%, #ffffff 100%);
    padding: 2px; }
    .product .product-status:nth-child(2n) p {
      background: #ffffff;
      width: 50%;
      height: 100%;
      margin: 0;
      padding: .5rem 1rem; }
      .product .product-status:nth-child(2n) p:last-child {
        text-align: right; }
  .product .product-status:last-child {
    margin-bottom: .5rem; }
  .product .product-status p {
    background: #ffffff;
    width: 50%;
    height: 100%;
    margin: 0;
    padding: .5rem 1rem; }
    .product .product-status p:last-child {
      text-align: right; }
  .product .prod-info {
    justify-content: flex-end;
    display: flex;
    flex-direction: column; }
    .product .prod-info span {
      font-size: 10px;
      padding-bottom: 3.4rem; }
    .product .prod-info p {
      font-weight: 600;
      font-size: 22px;
      color: #00abc4;
      padding: 2rem 2rem 2rem 0; }
    .product .prod-info .btn-container {
      display: flex;
      vertical-align: bottom; }
      .product .prod-info .btn-container a {
        margin-right: .5rem;
        border: 2px solid #00abc4;
        padding: .45rem;
        color: #00abc4;
        font-size: 12px;
        width: 45%;
        display: inline-block; }
        .btn-catalog{
          background: url(../images/border-btn-pdf.png);
          background-size: 100% 100%;
          border: none !important;
          position: relative;
        }
        .btn-catalog img{
          position: absolute;
          left: 90%;
          top: 30%;
        }
        .product .prod-info .btn-container a:hover {
          text-decoration: none; }
        .product .prod-info .btn-container a:first-child {
          background: url(../images/download_btn.png);
          background-repeat: no-repeat;
          background-position-y: center;
          background-position-x: 95%;
          background-size: 17%; }
        .product .prod-info .btn-container a:last-child {
          background: url(../images/a_arrow-colored.png);
          background-repeat: no-repeat;
          background-size: contain;
          background-position-x: -5%;
          border: none;
          padding: .6rem;
          width: 48%; }
      .product .prod-info .btn-container .btn-primarySend {
        background-color: #00abc4;
        color: #ffffff; }
      .product .prod-info .btn-container .btn-primarySend {
        background-color: #00abc4;
        color: #ffffff; }

@media (max-width: 580px) {
  .product .prod-info span {
    padding-bottom: 0;
    padding-top: 2rem; }
  .product .prod-info p {
    padding: 1rem 0 0 0; }
  .product .product-status {
    font-size: 12px; }
    .product .product-status p {
      font-size: 9px; }
  .product .nav-link {
    font-size: 10px;
    width: 50%;
  } }
